:root {
  --outside: -3px;
  --width: 10px;
  --pos: 5px;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* --- Window --- */

.window {
  position: absolute;
  background-color: lightgray;
  border: solid black 1px;
  overflow: hidden;
  border-radius: 5px;
}

/* --- TOP-BAR --- */

.top-bar {
  position: absolute;
  top: 0;
  height: 30px;
  line-height: 30px;
  background-color: rgb(56, 57, 60);
  text-indent: 5px;
  cursor: pointer;
  color: lightgray;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.top-bar-title {
  height: 100%;
  width: calc(100% - 80px);
}

.content-body {
  width: 100%;
  height: calc(100% - 30px);
  margin: 0;
  position: absolute;
  top: 30px;
  left: 0;
  overflow-wrap: break-word;
  background-size: cover;
}

.exit-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-indent: calc(50% - 7.5px);
  font-family: "Arial";
  font-weight: bold;
}

.exit-button:hover {
  background-color: rgb(232, 17, 32);
  transition: 0.5s;
}

.maximize-button {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  text-indent: calc(50% - 7.5px);
  font-family: "Arial";
  font-weight: bold;
}

.maximize-button:hover {
  background-color: rgb(76, 77, 80);
  transition: 0.5s;
}

/* --- BORDERS & CORNERS --- */

.border {
  position: absolute;
  z-index: 1;
}

.TOP_BORDER-border {
  width: calc(100% - 10px);
  height: var(--width);
  top: var(--outside);
  left: var(--pos);
  cursor: ns-resize;
}

.BOTTOM_BORDER-border {
  width: calc(100% - 10px);
  height: var(--width);
  bottom: var(--outside);
  left: var(--pos);
  cursor: ns-resize;
}

.RIGHT_BORDER-border {
  width: var(--width);
  height: calc(100% - 10px);
  top: var(--pos);
  right: var(--outside);
  cursor: ew-resize;
}

.LEFT_BORDER-border {
  width: var(--width);
  height: calc(100% - 10px);
  top: var(--pos);
  left: var(--outside);
  cursor: ew-resize;
}

.corner {
  position: absolute;
  width: var(--width);
  height: var(--width);
  z-index: 1;
}

.TOP_LEFT_CORNER-corner {
  top: var(--outside);
  left: var(--outside);
  cursor: nwse-resize;
}

.TOP_RIGHT_CORNER-corner {
  top: var(--outside);
  right: var(--outside);
  cursor: nesw-resize;
}

.BOTTOM_LEFT_CORNER-corner {
  bottom: var(--outside);
  left: var(--outside);
  cursor: nesw-resize;
}

.BOTTOM_RIGHT_CORNER-corner {
  bottom: var(--outside);
  right: var(--outside);
  cursor: nwse-resize;
}